{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<h1>Participants</h1>
{% if list %}
	<textarea id="search" class="col-xs-12" rows="1" onkeyup="$fac.delayedSearch();"></textarea>
	<div class="col-md-3 col-sm-4 col-xs-6">
				<div class="pax-tile">
					<a href="{{url_for('newParticipant')}}">
						<img width="200" height="200" src="/static/images/Jane Doe.jpg" alt="Create new Participant">
						<span class="name">
							Create new Participant
						</span>
					</a>
				</div>
		</div>
	{%for i in list%}
		<div class="col-md-3 col-sm-4 col-xs-6">
				<div id="{{i.id|string}}" class="pax-tile{%if active%}{%if i.id in active%} selected{%endif%}{%endif%}" onclick="$fac.select({{i.id}});">
					<img width="200" height="200" src="/static/images/{{i.name}} {{i.surname}}.jpg" alt="{{i.name}}">
					<span id="{{i.name}} {{i.surname}}" class="name">
						{{i.name}} {{i.surname}}
						{%if i.status==1%}
							<span class="glyphicon glyphicon-ice-lolly"></span>
						{%elif i.status==2%}
							<span class="glyphicon glyphicon-baby-formula"></span>
						{%elif i.status==3%}
							<span class="glyphicon glyphicon-pawn"></span>
						{%elif i.status==4%}
							<span class="glyphicon glyphicon-sunglasses"></span>
						{%endif%}
					</span>
					<a href="{{url_for('deleteParticipant', pax=i.id)}}"><div>x</div></a>
				</div>
		</div>
	{%endfor%}
{% else %}
  <h1>You have no friends</h1>
{% endif %}

<script type="text/javascript">
	document.getElementById("navSessionStartButton").innerHTML = '<a id="sessionMaker" href="/sess/"> <span class="glyphicon glyphicon-comment"></span><br class="hidden-xs"> {%if "pax" in session%}Continue Session{%else%}Start Session{%endif%}</a>';
</script>

{% endblock %}